:root {
	--mrw-card--ratio: 16/9;
	--mrw-card--min-height: 150px;
	--mrw-card--content-padding: var(--wp--preset--spacing--40, 8%);
}

.wp-block-media-text.mrw-card-block {
	display: block !important;
}

.wp-block-media-text.mrw-card-block.is-image-fill .wp-block-media-text__media {
	min-height: var(--mrw-card--min-height);
	height: auto;
	max-width: 100%;
	aspect-ratio: var(--mrw-card--ratio);
}

.wp-block-media-text.mrw-card-block .wp-block-media-text__content {
	padding: 0;
}

.wp-block-media-text.mrw-card-block.has-background
	.wp-block-media-text__content {
	padding: var(--wp--preset--spacing--40, 8%);
}
