:root .mrw-card-block .components-resizable-box__handle {
	display: none;
}

.mrw-card-block .wp-block-media-text__media.components-placeholder {
	min-height: auto !important;
}

.aspect-ratio-control {
	padding: 0 16px 16px;
}

.wp-block-media-text.mrw-card-block.is-image-fill .wp-block-media-text__media,
.wp-block-media-text.mrw-card-block.is-image-fill-element .wp-block-media-text__media {
	height: auto !important;
}
